// Font Variables
$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$font-family-base: $open-sans;

// Color variables
$bg-default: #F6F6F6;
$bg-body: #ffffff;
$bg-lateral-bars: #FEFEFE;
$bg-header: #0E0F0F;
$bg-menu-header: #B31600;
$bg-menu-header-text: #FFFFFF;
$bg-secondary-menu-header-text: #AAAAAA;
$bg-menu-header-selected: #FF3131;
$bg-search-box: #111111;
$bg-menu-sidebar-selected: #911100;
$text-sidebar: #565656;
$text-sidebar-selected: #FFFFFF;
$bg-block: #FFFFFF;
$bg-footer: #363636;
$bg-copyright: #000000;
$bg-button: #B31600;
$button-text: #FFFFFF;
$text-copyright: #FFFFFF;
$selected-section-frontpage: #C01700;
$block-border: #000;
$links: #911100;
$block-text: #111111;
$block-border-gray: #C4C0BD;
$wt-blue: #0d355b;
$wt-background: #e7e7e7;
$wt-red: red;
$wt-menu-normal: #bcbfd0;
$wt-menu-hover: #ffffff;